extends layout/default

block scripts

append content
  .ui.list
    .li One
    .li Two
    .li Three

  .ui.list.inline
    .li One
    .li Two
    .li Three

  ul.ui.list
    li One
    li Two
    li Three

  ul.ui.list.inline
    li One
    li Two
    li Three
